<div class='prose'>

	<p> {{doc.tracing_lede}}</p>

	<p> {{doc.tracing_case_rabid.step1}} </p>

	<p> {{doc.tracing_case_rabid.step2}} </p>

	<p> {{doc.tracing_case_rabid.step3}} </p>

	<p> {{doc.tracing_case_rabid.step4}} </p>

	<p> {{doc.tracing_case_normal.step2}} </p>
	
	<p> {{doc.tracing_case_rabid.step2}} </p>

	<p> {{doc.tracing_case_sample.step1}} </p>

	<p> {{doc.tracing_case_sample.step2}} </p>

	<p> {{doc.tracing_segway}} </p>

</div>
