<div class='prose'>

	<p> {{doc.tracing_lede}}</p>

	<p> {{doc.tracing_case_rabid.step1}} </p>

	<p> {{doc.tracing_case_rabid.step2}} </p>

	<p> {{doc.tracing_case_rabid.step3}} </p>

	<p> {{doc.tracing_case_rabid.transitionCT}} </p>

	<p> {{doc.tracing_case_rabid.normal}} </p>
	
	<p> {{doc.tracing_case_rabid.sample}} </p>

	<p> {{doc.tracing_case_sample.sequence}} </p>

	<p> {{doc.tracing_segway}} </p>

	<p> {{doc.tracing_segway}} </p>

</div>
